body
{
}
.atas 
{
width: 100%;
height: 50%;
background-color: aqua;
}
.bawah
{
    width: 100%;
    height: 50%;
    background-color: aquamarine;
}
.panel1
{
    width: 50%;
    height: 100%;
    background-color: rgb(117, 248, 226);
    float: left;
}
.panel2
{
    width: 50%;
    height: 100%;
    background-color: chartreuse;
    float: right;
}
.panel3
{
    width: 50%;
    height: 100%;
    background-color: #ee8b8b;
    float: left;
}
.panel4
{
    width: 50%;
    height: 100%;
    background-color: rgb(240, 209, 108);
    float: right;
}